// Primary root for all styling decisions
$primary: #c1c1b1;
$back: #171710;
$backLighter:lighten($back,8%);
$accent: #bc7100;

// #ef90000
$accentLighter: lighten($accent,10%);


$accentDarker: darken($accent,10%);
