@use './colors.scss' as c;

$body-bg: c.$back;
$body-color: c.$primary;
$primary: c.$accent;
$dark: lighten(c.$back, 10%);
// import bootstrap scss
@import '../node_modules/bootstrap/scss/bootstrap';



html,
body {
  // padding: 0;
  // margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  padding-top:4.5rem;
}

a {
  // text-decoration: none;
  color: c.$accent;
}


// utility styles
.modal-content,
.dark-bg{
  background-color: c.$backLighter;
  @extend .card-1;
}
.modal-header{
  border-bottom-color: c.$accentDarker;
}
.modal-footer{
  border-top-color: c.$accentDarker;
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}


.card-1-hover {
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.full-width {
  width: 100%;
}

.spacer-top-margin {
  margin-top: 0.5rem;
}
.spacer-top-margin-lot {
  margin-top: 1rem;
}

.spacer-top-padding {
  padding-top: 0.5rem;
}
// * {
//   box-sizing: border-box;
// }
